/*
 * Nougit - fonts.css
 * Author: Gordon Hall
 */

/* Karla - Main type
*/
@font-face {
    font-family: Karla;
    src: url('/assets/fonts/Karla/Karla-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Karla;
    src: url('/assets/fonts/Karla/Karla-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Karla;
    src: url('/assets/fonts/Karla/Karla-Italic.ttf');
    font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: Karla;
    src: url('/assets/fonts/Karla/Karla-BoldItalic.ttf');
    font-weight: bold;
	font-style: italic;
}

/* Lobster - Headings
*/
@font-face {
    font-family: Lobster;
    src: url('/assets/fonts/Lobster/Lobster.ttf');
    font-weight: normal;
}

/* Ubuntu Mono - Code blocks and source
*/
@font-face {
    font-family: UbuntuMono;
    src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Regular');
    font-weight: normal;
}

@font-face {
    font-family: UbuntuMono;
    src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Bold');
    font-weight: bold;
}

@font-face {
    font-family: UbuntuMono;
    src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Italic');
    font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: UbuntuMono;
    src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-BoldItalic');
    font-weight: bold;
	font-style: italic;
}