/*
 * Nougit - main.css
 * Author: Gordon Hall
 */

/*
Colors:
	Red:
		- background : #6d0019 #8f0222 #a90329
		- color : #6d0019
	Black:
		- background : #0e0e0e #636363
		- color : #0e0e0e
	Shiny White : 
		- background : #ffffff #f3f3f3 #ededed #ffffff
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Karla', Helvetica, sans-serif;
	background: url('/assets/images/bg.png') top left repeat #f2f2f2;
}

.smalltext {
	font-family: 'Lobster', Helvetica, sans-serif;
	font-size: 70px;
	color: #0e0e0e;
	margin: 0px 0px -47px 263px;
	padding: 12px;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#landing {
	margin-left: -24px;
}

h1.huge {
	background: #A90329;
	font-size: 246px;
	color: transparent;
	margin: -12px 0 -12px 60px;
	-webkit-background-clip: text;
	padding: 22px;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	position: relative;
	top: -112px;
}

.subtitle {
	font-family: 'Lobster', Helvetica, sans-serif;
	margin: -200px 0 28px 78px;
	font-size: 60px;
	position: relative;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
	font-family: 'Lobster', Helvetica, sans-serif;
}

.code {
	font-family: 'UbuntuMono', Monaco, monospace;
}

h3, h4 {
	font-family: 'Karla', Helvetica, sans-serif;
	color: #6d0019;
	background: #f9f9f9;
	text-shadow: 0 1px 0 #fff;
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

select {
 	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url('/assets/images/select.png'), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 0 12px;
	overflow: hidden;
	padding-top: 4px;
	padding-bottom: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 4px 32px 4px 8px;
}

/* Button Styles
*/

.button {
	background-size: 24px 24px;
	background-color: #d6d6d6;
	border: 1px solid #f6f6f6;
	border-bottom: 1px solid #c1c1c1;
	display: inline-block;
	font-size: 16px;
	color: #333;
	padding: 8px 8px 8px 40px;
	border-radius: 2px;
	background-position: 8px 50%;
	background-repeat: no-repeat;
	text-decoration: none;
	font-weight: bold;
}

.button:hover {
	background-color: #c1c1c1;
}

.button:active {
	border: 1px solid #ccc;
	border-bottom: 1px solid #fefefe;
}

.commitplus {
	background-image: url('/assets/images/icons/commit_plus.png');
}

.commit_minus {
	background-image: url('/assets/images/icons/commit_minus.png');
}

.plus {
	background-image: url('/assets/images/icons/file_plus.png');
}

.gear {
	background-image: url('/assets/images/icons/engine.png');
}

.save {
	background-image: url('/assets/images/icons/save.png');
}

.cancel {
	background-image: url('/assets/images/icons/cancel.png');
}

.list1 {
	background-image: url('/assets/images/icons/list1.png');
}

.list2 {
	background-image: url('/assets/images/icons/list2.png');
}

.push {
	background-image: url('/assets/images/icons/push.png');
	background-size: 24px 16px;
}

.pull {
	background-image: url('/assets/images/icons/pull.png');
	background-size: 24px 16px;
}

.newbranch {
	background-image: url('/assets/images/icons/newbranch.png');
	background-size: 20px 24px;
}

.checkout {
	background-image: url('/assets/images/icons/checkout.png');
}

.editremote {
	background-image: url('/assets/images/icons/editremote.png');
	background-size: 24px 16px;
}

.addremote {
	background-image: url('/assets/images/icons/addremote.png');
	background-size: 24px 16px;
}

.merge {
	background-image: url('/assets/images/icons/graph.png');
	background-size: 24px 18px;
}

.clone {
	background-image: url('/assets/images/icons/clone.png');
	background-size: 22px 24px;
}

/* Header, Footer, and Logo
*/

#header,
#footer {
	background: #636363; 
	background: -webkit-linear-gradient(top, #636363 0%,#0e0e0e 100%);
	border-bottom: 1px solid #636363;
	position: fixed;
	width: 100%;
	z-index: 9979;
}

#header {
	top: 0;
	left: 0;
	overflow: hidden;
	border-bottom: 1px solid #636363;
	border-top: 1px solid #636363;
}

h2#current {
	float: left;
	margin: 7px 12px 7px 356px;
	color: #ffffff;
	font-size: 26px;
	text-shadow: 0 1px 0 #0e0e0e;
}

#navigation {
	float: right;
}

#navigation ul {
	margin: 0;
	padding: 4px 12px;
}

#footer {
	bottom: -51px;
	left: 0;
	padding: 6px 12px;
	height: 38px;
}

#footer.inactive {
	bottom: -51px;
	-webkit-animation: hideFooter 0.2s;
}

#footer.active {
	bottom: 0px;
	-webkit-animation: showFooter 0.2s;
}

@-webkit-keyframes showFooter {
	from {
		bottom: -51px;
	}
	to {
		bottom: 0px;
	}
}

@-webkit-keyframes hideFooter {
	from {
		bottom: 0px;
	}
	to {
		bottom: -51px;
	}
}

#footer ul {
	margin: 3px 12px 3px -78px;
	border: 1px solid #101010;
	border-right: none;
	display: inline-block;
	position: relative;
	left: 50%;
}

#footer ul li {
	display: inline-block;
	width: 120px;
	text-align: center;
	border-left: 1px solid #333;
}

#footer ul li a {
	display: block;
	padding: 6px 12px;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #000;
}

#footer ul li a:hover {
	background-color: rgba(0,0,0,0.1);
}

#footer ul li a:active,
#footer ul li a.active {
	background: #0e0e0e; 
	background: -webkit-linear-gradient(top, #0e0e0e 0%,#636363 100%);
}

/* Sidebar
*/

#sidebar {
	width: 320px;
	background: #ffffff;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 9980;
	border-right: 1px solid #636363;
}

#sidebar h2 {
	background: #a90329; 
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%); 
	color: #fff;
	text-shadow: 0 1px 0 #a90329;
	border: 1px solid #a90329;
	font-size: 26px;
	padding: 7px 12px 7px 36px;
	margin: 0 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9981;
	width: 270px;
}

/*#sidebar::-webkit-scrollbar {
	z-index: 9999;
}*/

#sidebar h3 {
	font-size: 24px;
	margin: 59px 0 0 0;
	padding: 12px;
}

#repositories {
	margin: 49px 0 48px 0;
}

#repositories ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#repositories ul.list li {
	font-size: 18px;
}

#repositories ul.list a {
	color: #0e0e0e;
	text-decoration: none;
	display: block;
	padding: 12px 24px;
}

#repositories ul.list a:hover,
#repositories ul.list a.active {
	color: #6d0019;
	background-color: #f9f9f9;
	box-shadow: 0 0px 8px rgba(0,0,0,0.5);
}

#options {
	position: fixed;
	border: 1px solid #a90329;
	text-align: center;
	left: 0;
	bottom: 0;
	padding: 6px 12px;
	height: 37px;
	width: 294px;
	z-index: 9981;
	background: #a90329; 
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
}

#options a {
	margin: 0 6px;
}

.no_repos {
	margin: 24px;
	padding: 12px;
	text-align: center;
	background-color: #F1F1F1;
	border-radius: 6px;
	position: relative;
	top: 24px;
}

/* Content
*/

#content {
	padding: 12px;
	margin: 76px 24px 63px 344px;
	background: #fff;
	border: 1px solid #ccc;
}

#content.landing {
	background: none;
	border: none;
}

/* Commit History
*/

.commit,
.stage,
.info {
	margin: 12px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	padding: 0 0 12px 0;
	background-color: #f6f6f6;
	border: 1px solid #a90329;
}

.commit .hash,
.stage h3 {
	background: #a90329; 
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
	color: #ffffff;
	padding: 12px;
}

.commit .hash .code {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.commit .hash .code:hover {
	text-decoration: underline;
}

.commit .story {
	padding: 12px;
}

.commit .story a {
	text-decoration: none;
	color: #a90329;
}

.commit .story a:hover {
	text-decoration: underline;
}

.commit .message {
	padding: 12px 12px 12px 48px;
	margin: 0 12px;
	background: url('/assets/images/icons/comment.png') 12px 12px no-repeat #ffffff;
	background-size: 24px 24px;
	border-radius: 3px;
}

/* Staging Panel
*/

.stage {
	padding-bottom: 0;
}

.stage h3 {
	text-shadow: none;
	margin: 0;
	font-size: 16px;
}

.stage h4 {
	padding: 12px 12px 0 12px;
	margin: 0;
}

.stage p {
	font-size: 14px;
	margin: 12px;
}

.stage .options,
.info .options {
	text-align: right;
	padding: 12px;
	border-top: 1px solid #0e0e0e;
	background: #636363; 
	background: -webkit-linear-gradient(top, #636363 0%,#0e0e0e 100%);
}

.stage .options .button {
	margin-left: 12px;
}

.branch_item:first-of-type::before {
	content: '* ';
}

.stage ul {
	border: 1px solid #999;
	margin: 12px;
	height: 120px;
	overflow: auto;
	background: #fff;
}

.stage ul li {
	padding: 4px 8px;
}

.stage ul li:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.stage li.selected {
	color: #fff;
	background: #00478e;
	background: -webkit-linear-gradient(top, #00478e 0%,#066dab 100%);
}

.stage li[title="modified"]::before {
	content: 'Modified: ';
}

.stage li[title="new file"]::before {
	content: 'New File: ';
}

.stage li[title="deleted"]::before {
	content: 'Deleted: ';
}

.stage li[title="untracked"] {
	
}

.commit_wrapper {
	margin: 12px 48px 12px 12px;
}

#commit_message {
	width: 100%;
	padding: 6px 16px;
	font-size: 16px;
	border: 1px solid #0e0e0e;
	background-color: #ffffff;
}

#commit_message:focus {
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	outline: none;
}

/* Info
*/

.info > h3 {
	background: #a90329; 
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
	color: #ffffff;
	padding: 12px;
	margin: 0;
}

.info > p {
	margin: 12px 12px 0px 12px;
	border: 1px solid #999;
	padding: 12px;
	background-color: #ffffff;
}

.info .markdown {
	background: #ffffff;
	margin: 24px;
	border: 1px solid #999;
	padding: 12px;
}

/* Admin
*/

#push_pull {
	display: none;
}

/* Dialogs
*/

#dialogs {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 9981;
	opacity: 0;
}

#dialogs.active {
	display: block;
	opacity: 1;
	-webkit-animation: showOverlay 0.2s;
}

#dialogs.inactive {
	display: none;
	opacity: 0;
}

@-webkit-keyframes showOverlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.dialog {
	position: absolute;
	background: #ffffff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.7);
	top: 50%;
	left: 50%;
	-webkit-transform: scale(0.3);
	display: none;
}

.dialog.visible {
	display: block;
	-webkit-transform: scale(1);
	-webkit-animation: showDialog 0.2s;
}

@-webkit-keyframes showDialog {
	from {
		-webkit-transform: scale(0.3);
	}
	to {
		-webkit-transform: scale(1);
	}
}

.dialog h2 {
	margin: 0 0 12px 0;
	color: #ffffff;
	background: #a90329; 
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
	text-shadow: 0 1px 0 #a90329;
	border: 1px solid #a90329;
	font-size: 26px;
	padding: 7px 12px;
}

.dialog form {
	margin: 12px;
}

.dialog form label {
	display: block;
	color: #0e0e0e;
	padding: 4px 12px 4px 0;
	margin: 0;
	position: relative;
}

.dialog form input {
	border: 1px solid #0e0e0e;
	padding: 8px 12px;
	background-color: #f1f1f1;
	font-size: 14px;
	margin: 0 0 12px 0;
	width: 318px;
}

.dialog form input:disabled {
	border: none;
	background: none;
	color: #000;
}

.dialog form input:focus {
	background-color: #ffffff;
	outline: none;
}

.dialog .options {
	text-align: right;
	padding: 12px;
	background: #636363; 
	background: -webkit-linear-gradient(top, #636363 0%,#0e0e0e 100%);
}

.dialog .options .button {
	margin-left: 12px;
}

#addRepo {
	margin: -138px 0 0 -184px;
}

#newbranch {
	margin: -138px 0 0 -184px;
}

#addremote {
	margin: -138px 0 0 -184px;
}

#editremote {
	margin: -138px 0 0 -184px;
}

#revert {
	margin: -138px 0 0 -184px;
}

#merge,
#about,
#cloneRepo {
	margin: -138px 0 0 -184px;
}

#revert p,
#merge p,
#about p {
	padding: 0 12px;
}

#about p {
	text-align: center;
	line-height: 22px;
}

#which_commit {
	padding: 12px;
	margin: 0 12px 12px 12px;
	color: #a90329;
	background: #f1f1f1;
	border-radius: 2px;
}

#thisBranch, #thatBranch {
	font-weight: bold;
	color: #a90329;
}

#alert {
	position: fixed;
	padding: 18px;
	z-index: 9982;
	bottom: 24px;
	left: 50%;
	width: 290px;
	word-wrap: break-word;
	font-size: 16px;
	color: #333;
	margin-left: -160px;
	background-color: #ffffff;
	border-left: 4px solid #333;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	font-style: italic;
	font-weight: bold;
	display: none;
	opacity: 0;
}

#alert.success {
	border-left: 4px solid #299a0b;
	padding-left: 48px;
	background: url('/assets/images/icons/success.png') 12px center no-repeat #ffffff;
}

#alert.error {
	border-left: 4px solid #a90329;
	padding-left: 48px;
	background: url('/assets/images/icons/error.png') 12px center no-repeat #ffffff;
}

.blockloader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('/assets/images/loader.gif') center center no-repeat rgba(255,255,255,0.7);
}