div#content
	div#
	ul#contentNavigation
		li
			a(href='#history') Commits
		li
			a(href='#graph') Graphs
		li
			a(href='#source') Source
	ul#globalNavigation
		li
			a.icon#gear(href='#settings') Settings