div#content
	div#navigation
		ul.left
			li
				a(href='#history') Commits
			li
				a(href='#source') Source
			li
				a(href='#graphs') Graphs
			li
				a(href='#admin') Admin
		ul.right
			li
				a.icon#gear(href='#settings') Settings