div#footer
	ul
		li
			a.navaction(href='#history') History
		li
			a.navaction(href='#status') Status
		li
			a.navaction(href='#source') Source
		li
			a.navaction(href='#graphs') Graphs
		li
			a.navaction(href='#admin') Admin