div#footer
	ul
		li
			a.navaction(href='#info') Info
		li
			a.navaction(href='#history') Commits
		li
			a.navaction(href='#status') Status
		//
			li
				a.navaction(href='#source') Source
		li
			a.navaction(href='#admin') Admin