!!! 5
html(lang='en')
	head
		title Nougit
		link(rel='stylesheet', type='text/html', href='/styles/fonts.css')
		link(rel='stylesheet', type='text/html', href='/styles/main.css')
		script(type='text/javascript', src='/scripts/blueprint.1.5.3.min.js')
		script(type='text/javascript', src='/scripts/loader.js')
	body
		div#wrapper
			include header
			include sidebar
			include content
			include footer